.submenus {
    display: none;
    position: absolute;
    top: 4rem;
    left: 50%;
    width: auto;
    background: $white;
    box-shadow: $boxShadow;
    transform: translateX(-50%);
    z-index: 3;
    padding: 0 1rem 1rem 1rem;
    border-radius: .5rem;
    transition: all .5s linear;

    &.show-submenu {
        display: block;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: -5px;
        left: 50%;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid $textClr;
        transform: translateX(-50%);
    }

    .submenu {
        padding-top: 1rem;
        display: grid;
        // grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        justify-items: center;
        color: $mainBlue;

        .sublink {
            display: flex;
            align-items: center;
        
            & p {
                margin-right: .5rem;
            }
        
            & a {
                text-transform: capitalize;
                font-size: 1rem;
                font-weight: bold;
                letter-spacing: 3;
                color: $mainBlue;
            }
        }
    }
}

.col-2 {
    grid-template-columns: repeat(2, 1fr);
}
.col-3 {
    grid-template-columns: repeat(3, 1fr);
}
.col-4 {
    grid-template-columns: repeat(4, 1fr);
}