.slider {
    height: 100vh;
    padding: .5rem 1rem;
    position: relative;

    @include breakpoint-up(medium){
        width: 95vw;
        background: transparent;
        margin-top: 3rem;
        
        &::before {
            top: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            content: '';
            background-color: $mainBcg;
            clip-path: polygon(10% 0%, 95% 10%, 50% 90%, 0 55%);
            z-index: -999;
        }
    }
    @include breakpoint-up(large){
        padding-top: 1rem;

        &::before {
            left: 5%;
        }
    }

    & h2 {
        font-weight: bolder;
        text-transform: uppercase;
        text-align: center;
        color: $mainBlue;
        padding: .5rem 0;
        letter-spacing: 4px;
    }
}

.slider-wrapper {
    width: 100%;
    max-width: 35rem;
    height: 27rem;
    background: $mainBlue;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: $boxShadow;
    position: relative;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;
    text-shadow: $textShadow;
    opacity: 0;

    &.active-slide {
        opacity: 1;
        transform: translateX(0);
    }
    &.prev-slide {
        transform: translateX(-100%);
    }
    &.next-slide {
        transform: translateX(100%);
    }

    & img {
        width: 11rem;
        height: 11rem;
        margin-top: 1rem;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid $textClr;
        box-shadow: $boxShadow;

        @include breakpoint-up(medium){
            width: 13rem;
            height: 13rem;
            margin-top: 1.5rem;
        }
    }

    & h3 {
        text-transform: capitalize;
        margin: 0;
        letter-spacing: 3px;
        color: $white;
        text-shadow: $textShadow;
    }

    & .title {
        margin: 0;
        text-transform: uppercase;
        font-weight: bolder;
        color: $mainYellow;
        letter-spacing: 2px;
    }

    & .quote {
        font-size: .8rem;
        max-width: 15rem;
        margin: 0 auto;
        padding-top: .5rem;
        line-height: 1.3;
        font-style: italic;
        color: $white;
    }
}

.prev-btn, .next-btn {
    position: absolute;
    bottom: 10%;
    background: transparent;
    color: $mainBlue;
    font-size: 4rem;
    cursor: pointer;
    transition: all .3s linear;
    box-shadow: none;
}

.prev-btn {
    left: 10%;
    top: 85%;
    &:focus {
        outline: none;
    }
    @include breakpoint-up(medium){
        left: 20%;
        top: 80%;
    }
}

.next-btn {
    right: 10%;
    top: 85%;
    &:focus {
        outline: none;
    }
    @include breakpoint-up(medium){
        right: 20%;
        top: 80%;
    }
}